In [2]:
# import packages 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# read min/max csv file
df = pd.read_csv('comp2_minmax.csv', index_col=0)
df.head()

         X1   X12_abs   X13_abs   X14_abs   X15_abs   X16_abs   X17_abs
0  0.019417  0.024092  0.019951  0.004710  0.000000  0.000000  0.000000
1  0.213592  0.016513  0.011095  0.018335  0.024639  0.028147  0.026930
2  0.155340  0.180019  0.090218  0.092692  0.107917  0.121778  0.128409
3  0.077670  0.289309  0.310222  0.336962  0.213214  0.235922  0.244009
4  0.077670  0.053053  0.036468  0.244975  0.157685  0.155978  0.157990

In [4]:
# exmaine skew for variables
df.skew()

X1         0.904504
X12_abs    1.196772
X13_abs    1.192227
X14_abs    1.187239
X15_abs    1.188939
X16_abs    1.188837
X17_abs    1.207939
dtype: float64

### Adjust skew for each variable ###

In [5]:
df['X1'] = np.sqrt(df['X1'])
df['X1'].skew()

0.11583646477131494

In [6]:
df['X12_abs'] = np.cbrt(df['X12_abs'])
df['X12_abs'].skew()

-0.021219295568784994

In [7]:
df['X13_abs'] = np.cbrt(df['X13_abs'])
df['X13_abs'].skew()

-0.04895956147537211

In [8]:
df['X14_abs'] = np.cbrt(df['X14_abs'])
df['X14_abs'].skew()

-0.06606434875379091

In [9]:
df['X15_abs'] = np.cbrt(df['X15_abs'])
df['X15_abs'].skew()

-0.0714001097728437

In [10]:
df['X16_abs'] = np.cbrt(df['X16_abs'])
df['X16_abs'].skew()

-0.05970767417105055

In [11]:
df['X17_abs'] = np.cbrt(df['X17_abs'])
df['X17_abs'].skew()

-0.03093771490655488

In [12]:
# examine adjusted skew for each variable 
df.skew()

X1         0.115836
X12_abs   -0.021219
X13_abs   -0.048960
X14_abs   -0.066064
X15_abs   -0.071400
X16_abs   -0.059708
X17_abs   -0.030938
dtype: float64

### Combine all Dataframes ###

In [13]:
# read in the y and cat csv files 
dfy = pd.read_csv('comp2_y.csv', index_col=0)
dfcat = pd.read_csv('comp2_cat.csv', index_col=0)

In [14]:
# concat working df with dfcat
df = pd.concat([df, dfcat], axis=1,join='inner')
df.head()

,X1,X12_abs,X13_abs,X14_abs,X15_abs,X16_abs,X17_abs,X2,X3,X4,...,X16_sign,X16_monthlydif,X17_sign,X17_monthlydif,X18_binary,X19_binary,X20_binary,X21_binary,X22_binary,X23_binary
1,0.462160,0.254647,0.223035,0.263688,0.290989,0.304190,0.299742,2,2,1,...,0,2,0,1,0,1,0,0,0,0
2,0.394132,0.564642,0.448502,0.452565,0.476099,0.495666,0.504505,2,2,2,...,1,2,1,1,0,1,1,1,0,1
3,0.278693,0.661384,0.676951,0.695869,0.597409,0.617907,0.624888,2,2,2,...,1,2,1,1,1,1,1,1,1,1
4,0.278693,0.375754,0.331617,0.625711,0.540253,0.538296,0.540601,2,2,1,...,1,2,1,1,1,1,1,1,1,1
5,0.278693,0.734650,0.715994,0.732991,0.526616,0.542693,0.548885,1,2,1,...,1,2,1,1,1,1,1,1,1,1

In [15]:
# just making sure that nothing funky happened
df.tail()

,X1,X12_abs,X13_abs,X14_abs,X15_abs,X16_abs,X17_abs,X2,X3,X4,...,X16_sign,X16_monthlydif,X17_sign,X17_monthlydif,X18_binary,X19_binary,X20_binary,X21_binary,X22_binary,X23_binary
29995,0.638566,1.000000,1.000000,1.000000,0.871844,0.633702,0.509124,1,2,2,...,1,2,1,1,1,1,0,1,0,1
29996,0.521387,0.218012,0.227388,0.288211,0.407393,0.348378,0.000000,1,3,1,...,1,2,1,1,1,1,1,1,1,1
29997,0.197066,0.279987,0.278430,0.266156,0.539719,0.551431,0.542722,1,3,2,...,1,2,0,1,1,1,1,1,0,0
29998,0.368676,0.216359,0.795871,0.804984,0.735210,0.458806,0.739374,1,2,2,...,1,2,1,1,0,0,1,1,1,1
29999,0.278693,0.665761,0.680081,0.698087,0.650391,0.641655,0.501939,1,3,1,...,1,2,1,1,1,1,1,1,1,1

In [16]:
# concat df with target feature
df = pd.concat([df, dfy],axis=1,join='inner')
df.head()

,X1,X12_abs,X13_abs,X14_abs,X15_abs,X16_abs,X17_abs,X2,X3,X4,...,X16_monthlydif,X17_sign,X17_monthlydif,X18_binary,X19_binary,X20_binary,X21_binary,X22_binary,X23_binary,Y
1,0.462160,0.254647,0.223035,0.263688,0.290989,0.304190,0.299742,2,2,1,...,2,0,1,0,1,0,0,0,0,1
2,0.394132,0.564642,0.448502,0.452565,0.476099,0.495666,0.504505,2,2,2,...,2,1,1,0,1,1,1,0,1,1
3,0.278693,0.661384,0.676951,0.695869,0.597409,0.617907,0.624888,2,2,2,...,2,1,1,1,1,1,1,1,1,0
4,0.278693,0.375754,0.331617,0.625711,0.540253,0.538296,0.540601,2,2,1,...,2,1,1,1,1,1,1,1,1,0
5,0.278693,0.734650,0.715994,0.732991,0.526616,0.542693,0.548885,1,2,1,...,2,1,1,1,1,1,1,1,1,0

In [17]:
# get a list of the column names 
# see that they are out of order - will need to fix this later 
df.columns

Index(['X1', 'X12_abs', 'X13_abs', 'X14_abs', 'X15_abs', 'X16_abs', 'X17_abs',
       'X2', 'X3', 'X4', 'X5_Age_Bins', 'X6_Payment_Bins', 'X7_Payment_Bins',
       'X8_Payment_Bins', 'X9_Payment_Bins', 'X10_Payment_Bins',
       'X11_Payment_Bins', 'X12_sign', 'X12_monthlydif', 'X13_sign',
       'X13_monthlydif', 'X14_sign', 'X14_monthlydif', 'X15_sign',
       'X15_monthlydif', 'X16_sign', 'X16_monthlydif', 'X17_sign',
       'X17_monthlydif', 'X18_binary', 'X19_binary', 'X20_binary',
       'X21_binary', 'X22_binary', 'X23_binary', 'Y'],
      dtype='object')

In [18]:
# reorder the columns appropriately 
df = df[['X1','X2','X3','X4','X5_Age_Bins','X6_Payment_Bins', 'X7_Payment_Bins','X8_Payment_Bins','X9_Payment_Bins',
         'X10_Payment_Bins','X11_Payment_Bins','X12_abs','X12_sign','X12_monthlydif','X13_abs','X13_sign','X13_monthlydif',
        'X14_abs','X14_sign','X14_monthlydif','X15_abs','X15_sign','X15_monthlydif','X16_abs','X16_sign','X16_monthlydif',
        'X17_abs','X17_sign','X17_monthlydif','X18_binary','X19_binary','X20_binary','X21_binary','X22_binary','X23_binary','Y']]
df.head()

,X1,X2,X3,X4,X5_Age_Bins,X6_Payment_Bins,X7_Payment_Bins,X8_Payment_Bins,X9_Payment_Bins,X10_Payment_Bins,...,X17_abs,X17_sign,X17_monthlydif,X18_binary,X19_binary,X20_binary,X21_binary,X22_binary,X23_binary,Y
1,0.462160,2,2,1,1,2,2,1,1,2,...,0.299742,0,1,0,1,0,0,0,0,1
2,0.394132,2,2,2,1,1,2,2,2,2,...,0.504505,1,1,0,1,1,1,0,1,1
3,0.278693,2,2,2,2,2,2,2,2,2,...,0.624888,1,1,1,1,1,1,1,1,0
4,0.278693,2,2,1,2,2,2,2,2,2,...,0.540601,1,1,1,1,1,1,1,1,0
5,0.278693,1,2,1,3,1,2,1,2,2,...,0.548885,1,1,1,1,1,1,1,1,0

In [19]:
# checking that columns were reordered properly 
df.columns

Index(['X1', 'X2', 'X3', 'X4', 'X5_Age_Bins', 'X6_Payment_Bins',
       'X7_Payment_Bins', 'X8_Payment_Bins', 'X9_Payment_Bins',
       'X10_Payment_Bins', 'X11_Payment_Bins', 'X12_abs', 'X12_sign',
       'X12_monthlydif', 'X13_abs', 'X13_sign', 'X13_monthlydif', 'X14_abs',
       'X14_sign', 'X14_monthlydif', 'X15_abs', 'X15_sign', 'X15_monthlydif',
       'X16_abs', 'X16_sign', 'X16_monthlydif', 'X17_abs', 'X17_sign',
       'X17_monthlydif', 'X18_binary', 'X19_binary', 'X20_binary',
       'X21_binary', 'X22_binary', 'X23_binary', 'Y'],
      dtype='object')

In [20]:
# export final csv 
df.to_csv('p1_comp2_final.csv')