In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('pipeline_2/csv_files/p2_comp2_final.csv', index_col=0)
df.head()

,X1,X2,X3,X4,X5_Age_Bins,X6_Payment_Bins,X7_Payment_Bins,X8_Payment_Bins,X9_Payment_Bins,X10_Payment_Bins,...,X17_abs,X17_sign,X17_monthlydif,X18_binary,X19_binary,X20_binary,X21_binary,X22_binary,X23_binary,Y
1,-0.043526,2,2,1,1,2,2,1,1,2,...,0.137038,0,1,0,1,0,0,0,0,1
2,-0.351920,2,2,2,1,1,2,2,2,2,...,0.371519,1,1,0,1,1,1,0,1,1
3,-0.937871,2,2,2,2,2,2,2,2,2,...,0.473951,1,1,1,1,1,1,1,1,0
4,-0.937871,2,2,1,2,2,2,2,2,2,...,0.404198,1,1,1,1,1,1,1,1,0
5,-0.937871,1,2,1,3,1,2,1,2,2,...,0.411440,1,1,1,1,1,1,1,1,0

In [3]:
df_shuffle=df.iloc[np.random.permutation(len(df))]
credit=df_shuffle.reset_index(drop=True)
credit.head()

,X1,X2,X3,X4,X5_Age_Bins,X6_Payment_Bins,X7_Payment_Bins,X8_Payment_Bins,X9_Payment_Bins,X10_Payment_Bins,...,X17_abs,X17_sign,X17_monthlydif,X18_binary,X19_binary,X20_binary,X21_binary,X22_binary,X23_binary,Y
0,0.206076,2,2,1,2,2,2,2,2,2,...,0.314090,1,1,1,1,1,1,1,1,0
1,-0.937871,1,1,2,1,1,2,1,2,1,...,-0.108878,1,1,0,1,0,1,0,0,1
2,-0.937871,2,1,1,2,2,2,2,2,2,...,0.471615,0,1,0,1,0,0,0,0,0
3,1.280128,1,2,1,3,2,2,2,2,2,...,-2.449562,0,1,1,0,0,0,0,0,0
4,1.043350,2,2,1,2,2,2,2,2,2,...,0.091104,1,1,1,1,1,1,1,1,0

In [4]:
credit['Y']=credit['Y']
credit.head()

,X1,X2,X3,X4,X5_Age_Bins,X6_Payment_Bins,X7_Payment_Bins,X8_Payment_Bins,X9_Payment_Bins,X10_Payment_Bins,...,X17_abs,X17_sign,X17_monthlydif,X18_binary,X19_binary,X20_binary,X21_binary,X22_binary,X23_binary,Y
0,0.206076,2,2,1,2,2,2,2,2,2,...,0.314090,1,1,1,1,1,1,1,1,0
1,-0.937871,1,1,2,1,1,2,1,2,1,...,-0.108878,1,1,0,1,0,1,0,0,1
2,-0.937871,2,1,1,2,2,2,2,2,2,...,0.471615,0,1,0,1,0,0,0,0,0
3,1.280128,1,2,1,3,2,2,2,2,2,...,-2.449562,0,1,1,0,0,0,0,0,0
4,1.043350,2,2,1,2,2,2,2,2,2,...,0.091104,1,1,1,1,1,1,1,1,0

In [5]:
credit_class = credit['Y'].values

In [6]:
pd.isnull(credit).any()

X1                  False
X2                  False
X3                  False
X4                  False
X5_Age_Bins         False
X6_Payment_Bins     False
X7_Payment_Bins     False
X8_Payment_Bins     False
X9_Payment_Bins     False
X10_Payment_Bins    False
X11_Payment_Bins    False
X12_abs             False
X12_sign            False
X12_monthlydif      False
X13_abs             False
X13_sign            False
X13_monthlydif      False
X14_abs             False
X14_sign            False
X14_monthlydif      False
X15_abs             False
X15_sign            False
X15_monthlydif      False
X16_abs             False
X16_sign            False
X16_monthlydif      False
X17_abs             False
X17_sign            False
X17_monthlydif      False
X18_binary          False
X19_binary          False
X20_binary          False
X21_binary          False
X22_binary          False
X23_binary          False
Y                   False
dtype: bool

In [7]:
from sklearn.model_selection import train_test_split
training_indices, testing_indices = train_test_split(credit.index,stratify = credit_class,train_size=0.75, test_size=0.25, random_state = 2019)
training_indices.size, testing_indices.size

(22499, 7500)

In [8]:
from tpot import TPOTClassifier
from tpot import TPOTRegressor

tpot = TPOTClassifier(verbosity=2, max_time_mins=2, max_eval_time_mins=0.04, population_size=15)
tpot.fit(credit.drop('Y',axis=1).loc[training_indices].values, credit.loc[training_indices,'Y'].values)

/opt/tljh/user/lib/python3.6/site-packages/deap/tools/_hypervolume/pyhv.py:33: ImportWarning: Falling back to the python version of hypervolume module. Expect this to be very slow.
  "module. Expect this to be very slow.", ImportWarning)
/opt/tljh/user/lib/python3.6/importlib/_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)
/opt/tljh/user/lib/python3.6/importlib/_bootstrap_external.py:426: ImportWarning: Not importing directory /opt/tljh/user/lib/python3.6/site-packages/mpl_toolkits: missing __init__
  _warnings.warn(msg.format(portions[0]), ImportWarning)
/opt/tljh/user/lib/python3.6/importlib/_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)

HBox(children=(IntProgress(value=0, description='Optimization Progress', max=15, style=ProgressStyle(descriptiâ€¦

Generation 1 - Current best internal CV score: 0.7856795788286212
Generation 2 - Current best internal CV score: 0.7857685368642898
Generation 3 - Current best internal CV score: 0.7857685368642898
Generation 4 - Current best internal CV score: 0.7859018800763616
Generation 5 - Current best internal CV score: 0.7861684775962485

2.316096383333333 minutes have elapsed. TPOT will close down.
TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: LinearSVC(PCA(GaussianNB(input_matrix), iterated_power=4, svd_solver=randomized), C=0.01, dual=True, loss=squared_hinge, penalty=l2, tol=0.1)

TPOTClassifier(config_dict=None, crossover_rate=0.1, cv=5,
        disable_update_check=False, early_stop=None, generations=1000000,
        max_eval_time_mins=0.04, max_time_mins=2, memory=None,
        mutation_rate=0.9, n_jobs=1, offspring_size=None,
        periodic_checkpoint_folder=None, population_size=15,
        random_state=None, scoring=None, subsample=1.0, use_dask=False,
        verbosity=2, warm_start=False)

In [9]:
tpot.export('tpot_credit_pipeline3.py')

True